# Virtual environment
venv-dbt/
venv/
.venv/

.ipynb_checkpoints/
ny_taxi_postgres_data/
*.csv

# DBT artifacts
logs/
target/
dbt_packages/

plugins/

# Compressed files
*.gz

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Metabase JAR file (jika tidak perlu dibackup ke repo)
*.jar